.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 20px;
		padding-left: 20px;
}
@media (min-width: 375px) {
		.container {
				max-width: 375px;
		}
}
@media (min-width: 640px) {
		.container {
				max-width: 640px;
		}
}
@media (min-width: 768px) {
		.container {
				max-width: 768px;
		}
}
@media (min-width: 940px) {
		.container {
				max-width: 940px;
		}
}
@media (min-width: 1150px) {
		.container {
				max-width: 1150px;
		}
}
@media (min-width: 1320px) {
		.container {
				max-width: 1320px;
		}
}
@media (min-width: 2000px) {
		.container {
				max-width: 2000px;
		}
}
	.ul-anim-black {
		text-decoration: none;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(#00325b, #00325b);
		background-size: 100% 2px, 0% 2px;
		background-position: 100% 100%, 0% 100%;
		background-repeat: no-repeat;
		transition: background-size 0.4s ease-in-out;
		padding-bottom: 2px;
	}
	.ul-anim-white {
		text-decoration: none;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(#ffffff, #ffffff);
		background-size: 100% 2px, 0% 2px;
		background-position: 100% 100%, 0% 100%;
		background-repeat: no-repeat;
		transition: background-size 0.4s ease-in-out;
		padding-bottom: 2px;
	}
	.ul-anim-hover {
		background-size: 0 2px, 100% 2px;
		text-decoration: none;
	}

	.ul-anim-secondary {
		text-decoration: none;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(#15636e, #15636e);
		background-size: 100% 2px, 0% 2px;
		background-position: 100% 100%, 0% 100%;
		background-repeat: no-repeat;
		transition: background-size 0.4s ease-in-out;
		padding-bottom: 2px;
	}

	.filter-secondary {
		filter: brightness(0) saturate(100%) invert(17%) sepia(87%) saturate(2841%)
			hue-rotate(172deg) brightness(88%) contrast(84%);
	}
	.button-main {
		display: inline-block;
		--tw-bg-opacity: 1;
		background-color: rgb(21 99 110 / var(--tw-bg-opacity));
		padding-top: .9375rem;
		padding-bottom: .9375rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		text-align: center;
		font-size: 1.125rem;
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
}
	.button-main:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(12 87 95 / var(--tw-bg-opacity));
}
.visible {
		visibility: visible;
}
.static {
		position: static;
}
.absolute {
		position: absolute;
}
.relative {
		position: relative;
}
.sticky {
		position: sticky;
}
.bottom-\[23px\] {
		bottom: 23px;
}
.left-0 {
		left: 0px;
}
.m-8 {
		margin: 0.5rem;
}
.mx-auto {
		margin-left: auto;
		margin-right: auto;
}
.my-50 {
		margin-top: 3.125rem;
		margin-bottom: 3.125rem;
}
.my-8 {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
}
.mb-20 {
		margin-bottom: 1.25rem;
}
.mb-30 {
		margin-bottom: 1.875rem;
}
.mb-4 {
		margin-bottom: 0.25rem;
}
.mb-8 {
		margin-bottom: 0.5rem;
}
.mt-20 {
		margin-top: 1.25rem;
}
.mt-5 {
		margin-top: .3125rem;
}
.block {
		display: block;
}
.inline-block {
		display: inline-block;
}
.flex {
		display: flex;
}
.grid {
		display: grid;
}
.contents {
		display: contents;
}
.hidden {
		display: none;
}
.h-1 {
		height: 0.25rem;
}
.h-6 {
		height: 1.5rem;
}
.h-\[1px\] {
		height: 1px;
}
.min-h-screen {
		min-height: 100vh;
}
.w-16 {
		width: 4rem;
}
.w-6 {
		width: 1.5rem;
}
.w-full {
		width: 100%;
}
.max-w-\[1160px\] {
		max-width: 1160px;
}
.max-w-screen-xxl {
		max-width: 1320px;
}
.max-w-sm {
		max-width: 24rem;
}
.flex-grow {
		flex-grow: 1;
}
.cursor-pointer {
		cursor: pointer;
}
.grid-cols-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
		flex-direction: column;
}
.items-center {
		align-items: center;
}
.justify-center {
		justify-content: center;
}
.justify-between {
		justify-content: space-between;
}
.gap-x-4 {
		-moz-column-gap: 1rem;
		     column-gap: 1rem;
}
.rounded {
		border-radius: 0.25rem;
}
.border-b {
		border-bottom-width: 1px;
}
.border-\[\#888\] {
		--tw-border-opacity: 1;
		border-color: rgb(136 136 136 / var(--tw-border-opacity));
}
.border-primary {
		--tw-border-opacity: 1;
		border-color: rgb(147 0 39 / var(--tw-border-opacity));
}
.bg-\[\#BCBCBC\] {
		--tw-bg-opacity: 1;
		background-color: rgb(188 188 188 / var(--tw-bg-opacity));
}
.bg-antiflashwhite {
		--tw-bg-opacity: 1;
		background-color: rgb(236 242 243 / var(--tw-bg-opacity));
}
.bg-gray-200 {
		--tw-bg-opacity: 1;
		background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.bg-gray-50 {
		--tw-bg-opacity: 1;
		background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.bg-primary {
		--tw-bg-opacity: 1;
		background-color: rgb(147 0 39 / var(--tw-bg-opacity));
}
.bg-secondary {
		--tw-bg-opacity: 1;
		background-color: rgb(21 99 110 / var(--tw-bg-opacity));
}
.bg-white {
		--tw-bg-opacity: 1;
		background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.px-20 {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
}
.px-40 {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
}
.py-12 {
		padding-top: 12px;
		padding-bottom: 12px;
}
.py-15 {
		padding-top: .9375rem;
		padding-bottom: .9375rem;
}
.py-50 {
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
}
.pb-20 {
		padding-bottom: 1.25rem;
}
.text-center {
		text-align: center;
}
.text-15 {
		font-size: .9375rem;
}
.text-18 {
		font-size: 1.125rem;
}
.text-24 {
		font-size: 1.5rem;
}
.text-2xl {
		font-size: 2rem;
}
.text-36 {
		font-size: 2.25rem;
}
.text-lg {
		font-size: 1.2rem;
}
.font-700 {
		font-weight: 700;
}
.uppercase {
		text-transform: uppercase;
}
.text-gray-600 {
		--tw-text-opacity: 1;
		color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-gray-700 {
		--tw-text-opacity: 1;
		color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-800 {
		--tw-text-opacity: 1;
		color: rgb(31 41 55 / var(--tw-text-opacity));
}
.text-gray-900 {
		--tw-text-opacity: 1;
		color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-midgray {
		--tw-text-opacity: 1;
		color: rgb(72 80 80 / var(--tw-text-opacity));
}
.text-primary {
		--tw-text-opacity: 1;
		color: rgb(147 0 39 / var(--tw-text-opacity));
}
.text-white {
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
}
.antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
		opacity: 0;
}
.outline {
		outline-style: solid;
}
.invert {
		--tw-invert: invert(100%);
		filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.sepia {
		--tw-sepia: sepia(100%);
		filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
		filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
}
.transition-all {
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
}
.alignfull {
		margin: 0.5rem calc(50% - 50vw) !important;
		max-width: 100vw !important;
		width: 100vw;
}
.alignwide {
		margin: 0.5rem 0;
		max-width: 1150px !important;
}
.alignnone {
		margin-left: 0;
		margin-right: 0;
		height: auto;
		max-width: 100%;
}
.aligncenter {
		margin: 0.125rem auto;
		display: block;
}
@media (min-width: 640px) {
		.alignleft:not(.wp-block-button) {
				margin-right: 0.125rem;
				float: left;
		}
		.alignright:not(.wp-block-button) {
				margin-left: 0.125rem;
				float: right;
		}
		.wp-block-button.alignleft a {
				float: left;
				margin-right: 0.25rem;
		}
		.wp-block-button.alignright a {
				float: right;
				margin-left: 0.25rem;
		}
}
.wp-caption {
		display: inline-block;
}
.wp-caption img {
		margin-bottom: 0.125rem;
		line-height: 0;
}
.wp-caption-text {
		font-size: 0.9rem;
		color: #4b5563;
}
.entry-content > p, .block-editor-block-list__layout > p {
		/* @apply max-w-[1160px] px-20 mx-auto; */
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 20px;
		padding-left: 20px;
	}
@media (min-width: 375px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 375px;
		}
}
@media (min-width: 640px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 640px;
		}
}
@media (min-width: 768px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 768px;
		}
}
@media (min-width: 940px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 940px;
		}
}
@media (min-width: 1150px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 1150px;
		}
}
@media (min-width: 1320px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 1320px;
		}
}
@media (min-width: 2000px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 2000px;
		}
}
@media (min-width: 1150px) {
		.entry-content > p, .block-editor-block-list__layout > p {
				max-width: 1150px;
		}
}
.entry-content .acf-block a, .block-editor-block-list__layout .acf-block a {
		text-decoration-line: none;
}
.entry-content .image-pathways, .block-editor-block-list__layout .image-pathways {
		margin-top: 3.125rem;
		margin-bottom: 3.125rem;
}
.entry-content .image-pathways__grid, .block-editor-block-list__layout .image-pathways__grid {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		-moz-column-gap: 1rem;
		     column-gap: 1rem;
}
@media (min-width: 768px) {
		.entry-content .image-pathways__grid, .block-editor-block-list__layout .image-pathways__grid {
				grid-template-columns: repeat(3, minmax(0, 1fr));
		}
}
@media (min-width: 1150px) {
		.entry-content .image-pathways__grid, .block-editor-block-list__layout .image-pathways__grid {
				-moz-column-gap: 5rem;
				     column-gap: 5rem;
		}
}
.entry-content .image-pathways__grid--count-3 > *, .block-editor-block-list__layout .image-pathways__grid--count-3 > * {
				}
@media not all and (min-width: 768px) {
		.entry-content .image-pathways__grid--count-3 .item--3, .block-editor-block-list__layout .image-pathways__grid--count-3 .item--3 {
				grid-row-start: 2;
		}
		.entry-content .image-pathways__grid--count-3 .item--4, .block-editor-block-list__layout .image-pathways__grid--count-3 .item--4 {
				grid-row-start: 4;
		}
}
.entry-content .image-pathways__grid--count-3 .item--5, .block-editor-block-list__layout .image-pathways__grid--count-3 .item--5 {
					}
@media (min-width: 768px) {
		.entry-content .image-pathways__grid--count-4, .block-editor-block-list__layout .image-pathways__grid--count-4 {
				grid-template-columns: repeat(4, minmax(0, 1fr));
		}
}
@media not all and (min-width: 768px) {
		.entry-content .image-pathways__grid--count-4 .item--4, .block-editor-block-list__layout .image-pathways__grid--count-4 .item--4 {
				grid-row-start: 2;
		}
		.entry-content .image-pathways__grid--count-4 .item--5, .block-editor-block-list__layout .image-pathways__grid--count-4 .item--5 {
				grid-row-start: 4;
		}
		.entry-content .image-pathways__grid--count-4 .item--6, .block-editor-block-list__layout .image-pathways__grid--count-4 .item--6 {
				grid-row-start: 6;
		}
}
.entry-content .image-pathways__item, .block-editor-block-list__layout .image-pathways__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
}
.entry-content .image-pathways__item--0, .block-editor-block-list__layout .image-pathways__item--0 {
			}
.entry-content .image-pathways__image, .block-editor-block-list__layout .image-pathways__image {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.875rem;
		border-radius: 9999px;
}
.entry-content .image-pathways__headline, .block-editor-block-list__layout .image-pathways__headline {
		margin-bottom: 0;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 700;
		--tw-text-opacity: 1;
		color: rgb(147 0 39 / var(--tw-text-opacity));
}
.entry-content .image-pathways__link, .block-editor-block-list__layout .image-pathways__link {
		margin-top: 1.25rem;
		margin-bottom: 1.875rem;
		width: 100%;
		display: inline-block;
		--tw-bg-opacity: 1;
		background-color: rgb(21 99 110 / var(--tw-bg-opacity));
		padding-top: .9375rem;
		padding-bottom: .9375rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		text-align: center;
		font-size: 1.125rem;
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
}
.entry-content .image-pathways__link:hover, .block-editor-block-list__layout .image-pathways__link:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(12 87 95 / var(--tw-bg-opacity));
}
.entry-content .image-pathways__link, .block-editor-block-list__layout .image-pathways__link {
		display: block;
}
.entry-content .image-pathways__more-content, .block-editor-block-list__layout .image-pathways__more-content {
		margin-bottom: 1.25rem;
}
.entry-content .image-pathways__more-open, .block-editor-block-list__layout .image-pathways__more-open {
		position: relative;
		margin-bottom: 1.25rem;
		display: block;
		cursor: pointer;
		text-align: center;
		font-size: .9375rem;
		text-transform: uppercase;
		--tw-text-opacity: 1;
		color: rgb(72 80 80 / var(--tw-text-opacity));
			letter-spacing: 2px;
}
.entry-content .image-pathways__more-open svg, .block-editor-block-list__layout .image-pathways__more-open svg {
		margin-left: auto;
		margin-right: auto;
		margin-top: .3125rem;
		display: block;
}
.entry-content .image-pathways__more-open:before, .block-editor-block-list__layout .image-pathways__more-open:before {
		position: absolute;
		left: 0px;
		bottom: 23px;
		height: 1px;
		width: 100%;
		--tw-bg-opacity: 1;
		background-color: rgb(188 188 188 / var(--tw-bg-opacity));
				content: " ";
				z-index: -1;
}
.entry-content .application-status, .block-editor-block-list__layout .application-status {
		--tw-bg-opacity: 1;
		background-color: rgb(236 242 243 / var(--tw-bg-opacity));
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
		font-family: trade-gothic-next, helvetica, sans-serif;
}
.entry-content .application-status__headline, .block-editor-block-list__layout .application-status__headline {
		font-size: 2.25rem;
		font-weight: 700;
}
.entry-content .application-status__link, .block-editor-block-list__layout .application-status__link {
		display: inline-block;
		--tw-bg-opacity: 1;
		background-color: rgb(21 99 110 / var(--tw-bg-opacity));
		padding-top: .9375rem;
		padding-bottom: .9375rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		text-align: center;
		font-size: 1.125rem;
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
}
.entry-content .application-status__link:hover, .block-editor-block-list__layout .application-status__link:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(12 87 95 / var(--tw-bg-opacity));
}
.entry-content .application-status__top, .block-editor-block-list__layout .application-status__top {
		margin-bottom: 1.25rem;
		display: flex;
		justify-content: space-between;
		border-bottom-width: 1px;
		--tw-border-opacity: 1;
		border-color: rgb(136 136 136 / var(--tw-border-opacity));
		padding-bottom: 1.25rem;
}
.entry-content .application-status__content, .block-editor-block-list__layout .application-status__content {
		font-size: 1.125rem;
}
body {
		font-family: trade-gothic-next, helvetica, sans-serif;
}
.wp-block {
		max-width: 1150px;
}
.wp-block[data-align="wide"] {
		max-width: 1150px;
}
.wp-block[data-align="full"] {
		max-width: 100%;
}
.editor-styles-wrapper
	.edit-post-visual-editor__post-title-wrapper
	> :where(:not(.alignleft):not(.alignright):not(.alignfull)),
.editor-styles-wrapper
	.block-editor-block-list__layout.is-root-container
	> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		max-width: 1320px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.hover\:bg-secondaryDark:hover {
		--tw-bg-opacity: 1;
		background-color: rgb(12 87 95 / var(--tw-bg-opacity));
}
@media (min-width: 768px) {
		.md\:flex {
				display: flex;
		}
		.md\:w-1\/2 {
				width: 50%;
		}
		.md\:grid-cols-3 {
				grid-template-columns: repeat(3, minmax(0, 1fr));
		}
}
@media (min-width: 940px) {
		.lg\:-mx-4 {
				margin-left: -0.25rem;
				margin-right: -0.25rem;
		}
		.lg\:mx-4 {
				margin-left: 0.25rem;
				margin-right: 0.25rem;
		}
		.lg\:flex {
				display: flex;
		}
		.lg\:hidden {
				display: none;
		}
}

