.entry-content,
.block-editor-block-list__layout {
	@apply mt-40 md:mt-80;
	> p {
		/* @apply max-w-[1160px] px-20 mx-auto; */
		@apply container xl:max-w-screen-xl;
		&.has-large-font-size {
			font-size: clamp(0.9375rem, 0.5375rem + 1vw, 1.125rem) !important;
		}
		&.has-xl-font-size {
			font-size: clamp(0.9375rem, -0.2625rem + 3vw, 1.5rem) !important;
		}
	}

	.acf-block {
		a {
			@apply no-underline;
		}
		li {
			@apply list-none;
		}
	}
	p + .acf-block {
		@apply mt-[85px];
	}
	.image-pathways {
		@apply my-50;
		&__grid {
			@apply grid grid-cols-1 md:grid-cols-3 gap-x-4 xl:gap-x-20;
			&--count-3 {
				> * {
				}
				.item {
					&--3 {
						@apply max-md:row-start-2;
					}
					&--4 {
						@apply max-md:row-start-4;
					}
					&--5 {
					}
				}
			}
			&--count-4 {
				@apply md:grid-cols-4;
				.item {
					&--4 {
						@apply max-md:row-start-2;
					}
					&--5 {
						@apply max-md:row-start-4;
					}
					&--6 {
						@apply max-md:row-start-6;
					}
				}
			}
		}
		&__item {
			@apply flex flex-col justify-between;
			&--0 {
			}
		}
		&__image {
			@apply mb-30 mx-auto rounded-full;
		}
		&__headline {
			@apply text-24 font-700 text-primary text-center mb-0;
		}
		&__content {
			@apply mb-20 max-sm:text-15;
		}
		&__link {
			@apply w-full  mt-20 mb-30;
			@apply button-main block px-15;
			&::after {
				@apply button-main--chev;
			}
			&:hover::after {
				@apply left-3;
			}
		}
		&__more-content {
			@apply pb-20;
			p {
				@apply mb-0 pb-10;
			}
		}
		&__more-open {
			@apply more-open;
		}
	}

	.application-status {
		@apply bg-antiflashwhite py-50 md:py-70 font-primary;
		&__headline {
			@apply text-36 font-700;
			font-size: clamp(24px, 4vw, 36px);
		}
		&__link {
			@apply button-main w-full md:w-[375px];
			&::after {
				@apply button-main--chev;
			}
			&:hover::after {
				@apply left-3;
			}
		}
		&__top {
			@apply flex flex-col gap-4 md:flex-row justify-between items-center;
		}
		&__content {
			@apply text-15 md:text-18 pt-35 border-t border-[#888] mt-30;
		}
	}
	.accordion {
		@apply my-40 md:my-80;
		&__headline {
			@apply headline-main;
		}
		&__item {
			@apply block;
			&:not(:last-child) {
				@apply border-b border-[#C7C6C6];
			}
		}
		&__title {
			@apply flex justify-between py-20 md:px-30 transition-all duration-300  text-midgray relative;
			&.active {
				svg {
					transform: rotate(45deg);
				}
			}
			&-text {
				@apply flex-1;
				font-size: clamp(1rem, -0.6rem + 4vw, 1.75rem);
			}
			&.active,
			&:hover {
				@apply bg-primary text-white;
				svg {
					@apply fill-secondary;
				}
				.accordion__open-close {
					@apply bg-white;
				}
				&::before {
					@apply bg-opacity-100;
				}
			}
			&::before {
				@apply duration-300 transition-all max-md:absolute max-md:w-[200vw] bg-opacity-0 bg-primary  max-md:h-full max-md:top-0 max-md:left-[-100%];
				content: " ";
				z-index: -1;
			}
		}
		&__content {
			@apply py-30 md:px-30 text-14 md:text-16;
		}

		&__open-close {
			@apply bg-secondary transition-all duration-300 rounded-full  w-[40px] h-[40px] md:w-[50px] md:h-[50px] relative ml-10;
			svg {
				@apply relative top-[20%] left-[20%] md:top-[25%] md:left-[25%] fill-white;
			}
		}
	}
	.fifty {
		&--blue {
			@apply bg-secondary text-white py-30 md:py-60;
		}
		&__grid {
			@apply flex flex-col md:flex-row;
			> div {
				@apply md:w-1/2 md:pr-20 max-md:pb-30 max-md:pt-0;
				&:last-child {
					@apply pr-0 md:pl-20 max-md:pb-0 max-md:pt-30;
				}
			}
		}
	}
	.fifty-item {
		@apply inline-flex justify-center flex-col items-center;
		&:first-child {
			@apply max-md:border-b max-md:border-[#93bfc6];
			@screen md {
				border-right: 1px solid #93bfc6;
			}
		}
		&__headline {
			@apply text-center font-primary mb-20 md:mb-30 font-700;
			font-size: clamp(1.75rem, 0.15rem + 4vw, 2.5rem);
		}
		&__icon-wrapper {
			@apply flex justify-center text-center gap-x-10;
		}
		&__icon {
			@apply flex flex-col justify-center items-center max-w-[180px];
			> a {
				&[href="#"] {
					@apply pointer-events-none;
				}
			}
		}
		&__icon-link {
			@apply mb-10;
		}
		&__icon-text {
			font-size: clamp(0.9375rem, 0.2708rem + 1.6667vw, 1.25rem);
		}
		&__link-list {
			@apply grid;
			li {
				@apply list-none relative inline-block mb-25;
				&::after {
					@apply button-main--chev top-1;
				}
				&:hover::after {
					@apply left-3 opacity-75;
				}
			}
			a {
				@apply text-white   hover:opacity-75 duration-300 transition-all;
				font-size: clamp(0.9375rem, 0.2708rem + 1.6667vw, 1.25rem);
				i {
					@apply text-[#93BFC6] text-28 mr-15;
				}
			}
		}
	}

	.comparison {
		@apply my-80;
		&--offwhite {
			@apply bg-brightgray;
		}
		&__item {
			&-inner {
				@apply transition-all duration-500 overflow-clip xl:max-h-[348px];
				&.active {
					@apply max-h-[1500px];
				}
			}
		}
		&.active {
			.comparison__item-inner {
				@apply xl:max-h-[1500px];
			}
		}
		&__grid {
			@apply flex gap-[2%] flex-wrap;
			> div {
				@apply w-full md:w-[48%] xl:w-[23%];
			}
		}
		&__headline {
			@apply headline-main mb-20;
		}
		&__title {
			@apply text-center text-white bg-primary w-full py-20 mb-20;
			font-size: clamp(0.9375rem, -0.2625rem + 3vw, 1.5rem) !important;
		}
		&__content {
			@apply text-secondary px-20 font-700 mb-10;
		}
		&__attributes {
			ul {
				@apply pl-40 pr-20 pb-20;
			}
			li {
				@apply list-disc text-15 md:text-16 mb-10;
			}
		}
		&__more-open {
			@apply hidden xl:block more-open;
			&--mobile {
				@apply hidden more-open;
			}
		}
		&__button-wrapper {
			@apply flex justify-center mt-40;
		}
		&__button {
			@apply button-main inline-block   mb-40 mx-auto px-[8%];
			&::after {
				@apply button-main--chev;
			}
			&:hover::after {
				@apply left-3;
			}
		}
	}
	.checkmark-list {
		@apply py-60;
		&--bg-offwhite {
			@apply bg-brightgray;
		}
		&__headline {
			@apply headline-main mb-40;
		}
		&__grid {
			@apply grid grid-cols-3 max-w-[1133px] mx-auto gap-20;
		}
		&__title {
			@apply text-spacegray flex justify-start items-start;
			font-size: clamp(0.9375rem, -0.2625rem + 3vw, 1.5rem) !important;
			svg {
				@apply mr-10 relative top-2;
			}
		}
	}
}
