@layer components {
	.ul-anim-black {
		text-decoration: none;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(#00325b, #00325b);
		background-size: 100% 2px, 0% 2px;
		background-position: 100% 100%, 0% 100%;
		background-repeat: no-repeat;
		transition: background-size 0.4s ease-in-out;
		padding-bottom: 2px;
	}
	.ul-anim-white {
		text-decoration: none;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(#ffffff, #ffffff);
		background-size: 100% 2px, 0% 2px;
		background-position: 100% 100%, 0% 100%;
		background-repeat: no-repeat;
		transition: background-size 0.4s ease-in-out;
		padding-bottom: 2px;
	}
	.ul-anim-hover {
		background-size: 0 2px, 100% 2px;
		text-decoration: none;
	}

	.ul-anim-secondary {
		text-decoration: none;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(#15636e, #15636e);
		background-size: 100% 2px, 0% 2px;
		background-position: 100% 100%, 0% 100%;
		background-repeat: no-repeat;
		transition: background-size 0.4s ease-in-out;
		padding-bottom: 2px;
	}

	.filter-secondary {
		filter: brightness(0) saturate(100%) invert(17%) sepia(87%) saturate(2841%)
			hue-rotate(172deg) brightness(88%) contrast(84%);
	}
	.button-main {
		@apply inline-block bg-secondary text-white text-center py-12 text-18 px-20 hover:bg-secondaryDark transition-all duration-300;
		&--chev {
			@apply text-12 pl-20 pt-[3px]  top-[2px] left-2 relative transition-all duration-300 bg-no-repeat;
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.9213 8.53129L5.84805 14.6045C5.55514 14.8974 5.08027 14.8974 4.78739 14.6045L4.07905 13.8962C3.78664 13.6038 3.78608 13.1299 4.0778 12.8368L8.89095 8.00095L4.0778 3.16516C3.78608 2.87207 3.78664 2.39816 4.07905 2.10576L4.78739 1.39741C5.0803 1.10451 5.55517 1.10451 5.84805 1.39741L11.9213 7.47063C12.2142 7.76351 12.2142 8.23838 11.9213 8.53129Z' fill='%23F5F5F8'/%3E%3C/svg%3E");
		}
		&--chev-blk {
			@apply text-12 pl-20 pt-[3px]  top-[2px] left-2 relative transition-all duration-300 bg-no-repeat;
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.9213 8.53324L5.84805 14.6065C5.55514 14.8994 5.08027 14.8994 4.78739 14.6065L4.07905 13.8981C3.78664 13.6057 3.78608 13.1318 4.0778 12.8387L8.89095 8.0029L4.0778 3.16712C3.78608 2.87402 3.78664 2.40012 4.07905 2.10771L4.78739 1.39937C5.0803 1.10646 5.55517 1.10646 5.84805 1.39937L11.9213 7.47259C12.2142 7.76546 12.2142 8.24034 11.9213 8.53324Z' fill='%23000'/%3E%3C/svg%3E");
		}
	}
	.button-chev-red {
		@apply text-12 pl-20 pt-[3px]  top-[2px] left-2 relative transition-all duration-300 bg-no-repeat;
		content: " ";
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.9211 8.53129L5.8478 14.6045C5.5549 14.8974 5.08002 14.8974 4.78715 14.6045L4.0788 13.8962C3.7864 13.6038 3.78583 13.1299 4.07755 12.8368L8.89071 8.00095L4.07755 3.16516C3.78583 2.87207 3.7864 2.39816 4.0788 2.10576L4.78715 1.39741C5.08005 1.10451 5.55493 1.10451 5.8478 1.39741L11.921 7.47063C12.2139 7.76351 12.2139 8.23838 11.9211 8.53129Z' fill='%23930027'/%3E%3C/svg%3E");
	}
	.button-chev-blue {
		@apply text-12 pl-20 pt-[3px]  top-[2px] left-2 relative transition-all duration-300 bg-no-repeat;
		content: " ";
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='14' viewBox='0 0 10 14' fill='none'%3E%3Cpath d='M8.92105 7.53129L2.8478 13.6045C2.5549 13.8974 2.08002 13.8974 1.78715 13.6045L1.0788 12.8962C0.786397 12.6038 0.785835 12.1299 1.07755 11.8368L5.89071 7.00095L1.07755 2.16516C0.785835 1.87207 0.786397 1.39816 1.0788 1.10576L1.78715 0.397414C2.08005 0.104508 2.55493 0.104508 2.8478 0.397414L8.92102 6.47063C9.21393 6.76351 9.21393 7.23838 8.92105 7.53129Z' fill='%2315636E'/%3E%3C/svg%3E");
	}
	.headline-main {
		@apply text-secondary text-center font-700 font-primary mb-10 leading-[114%];
		font-size: clamp(1.75rem, -0.3833rem + 5.3333vw, 2.75rem);
	}
	.more-open {
		@apply mb-20 text-center relative block uppercase text-midgray text-15 cursor-pointer;
		letter-spacing: 2px;
		svg {
			@apply mx-auto mt-5 block fill-primary duration-300;
			transition-property: fill;
		}

		&.active svg {
			transform: rotate(45deg);
		}
		&:hover svg {
			@apply fill-secondary;
		}
		&:before {
			@apply bg-[#BCBCBC] h-[1px] absolute w-full left-0 bottom-[23px];
			content: " ";
			z-index: -1;
		}
	}
}

.screen-reader-text {
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	top: -10px;
}

input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
	&:focus {
		outline: none;
	}
}
input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
