body {
	@apply font-sr text-darkestgray overflow-x-hidden;
	> div {
		@apply overflow-x-hidden;
	}
}

/* **************************    EXTRA CONTAINERS    ************************** */
.container-lg {
	@apply container lg:max-w-screen-lg;
}
.container-xl {
	@apply container xl:max-w-screen-xl;
}

.container-xxl {
	@apply container xxl:max-w-screen-xxl;
}

.container-1240 {
	@apply container xxl:max-w-[1200px];
}

.container-2k {
	@apply max-w-[2000px];
}
/* **************************    DEFAULT TAILPRESS    ************************** */

article > *:not(.entry-content),
.entry-content > * {
	/* @apply mx-auto max-w-content; */
}

.entry-content,
.block-editor-block-list__layout,
.entry-content .acf-block .acf-wysiwyg,
.mce-content-body {
	@apply font-sr;
	strong {
		@apply font-700;
	}
	ul {
		@apply mt-15 mb-30;
		@apply list-inside;
		> li {
			@apply ml-30;
		}
	}
	li {
		@apply text-15 md:text-16 list-disc mb-10 indent-[-23px];
	}
	ol {
		@apply relative left-[22px];
		li {
			@apply list-decimal list-inside indent-[-18px];
		}
	}
	.has-red-text {
		@apply text-primary;
	}
	.btn-style-link {
		@apply button-main inline-block px-25 no-underline hover:no-underline;
		&::after {
			@apply button-main--chev;
		}
	}
	p {
		@apply text-15 md:text-16 mb-15;
		&.has-blue-text {
			@apply text-secondary font-primary;
		}
		&:last-of-type {
			@apply mb-0;
		}
	}

	p,
	ul li {
		/* @apply max-w-[1160px] px-20 mx-auto; */
		&.has-large-font-size {
			font-size: clamp(0.9375rem, 0.5375rem + 1vw, 1.125rem) !important;
		}
		&.has-xl-font-size {
			font-size: clamp(0.9375rem, -0.2625rem + 3vw, 1.5rem) !important;
		}
	}
}
.acf-wysiwyg {
	p,
	ul {
		&:last-of-type {
			@apply mb-0;
		}
	}
}

.entry-content,
.block-editor-block-list__layout {
	> {
		ol,
		ul,
		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply container xl:max-w-screen-xl font-primary;
			&:first-child {
				@apply mt-40 md:mt-80;
			}
		}
	}
	> .gform_wrapper {
		@apply container xl:max-w-screen-xl;
	}
	h1 {
		@apply text-44 text-primary font-700 font-primary leading-[113%] mb-20 md:mb-30;
		font-size: clamp(1.75rem, -0.3833rem + 5.3333vw, 2.75rem);
	}

	h2 {
		@apply text-xl;
	}

	h3 {
		@apply text-lg;
	}

	hr {
		@apply my-40;
	}

	ul ul {
		@apply mb-8;
	}
	p,
	ul,
	ol {
		a {
			@apply text-blue-500 underline;

			&:hover {
				@apply no-underline;
			}
		}

		/* @apply mb-8; */
		a {
			@apply no-underline text-primary hover:underline;
		}
	}

	/* ul:not(.block-editor-block-variation-picker__variations) {
		li {
			@apply list-disc list-inside;
		}
	} */

	.blog-single__content {
		ol,
		li,
		p {
			@apply text-15 md:text-18;
		}
	}
}

.site-content {
	@apply lg:mt-[149px];
}

.slick-dotted.slick-slider {
	@apply mb-0;
}
.mainstage .slick-dots {
	@apply bottom-[-35px] md:bottom-[-40px] right-[3px];
	li {
		@apply mx-5 md:mx-15 transition-all duration-300;
		&:hover {
		}
		&:not(.slick-active):hover {
			@apply opacity-40;
		}
	}
	li button:before {
		@apply text-20 bg-white border-primary border-2 border-opacity-100 rounded-full;
		@apply w-[15px] h-[15px] md:w-[25px] md:h-[25px] opacity-100;
		content: " ";
		&:hover {
		}
	}
	li.slick-active button:before {
		@apply bg-primary;
		&:hover {
			@apply opacity-100;
		}
	}
}

.modal {
	@apply max-w-[90vw]   bg-white top-[30px];
}

.location-overview {
	&__map {
		height: 800px;
	}
	&__disclaimer {
		@apply max-w-[1180px] mx-auto mb-50 md:mb-90 text-secondary text-12 md:text-14;

		&-line {
			@apply max-md:border-t border-bordergray max-md:mb-40;
		}

		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.14px;
		&-prefix {
			@apply text-primary;
			color: #930027;

			font-weight: 700;
		}
	}
}

.videolib {
	@apply mt-50 md:mt-90;
	&__headline {
		@apply headline-main mb-25 text-primary;
	}
	&__content {
		@apply mb-50 md:mb-90 text-15 md:text-18;
	}
	&__grid .alm-reveal {
		@apply grid grid-cols-1 md:grid-cols-3 gap-10 gap-y-12 md:gap-y-20;
	}
	&-item {
		&__title {
			@apply mt-20 md:mt-30 text-primary font-700 text-24 font-primary leading-[116%];
		}
		&__link {
			@apply relative;
		}
		&__image {
			@apply duration-700 transition-all;
			@apply w-full  object-cover;
			aspect-ratio: 360 / 245;

			&-wrap {
				@apply overflow-hidden bg-secondary relative;
			}
		}
		&__play {
			@apply absolute;
			top: calc(50% - 48px);
			left: calc(50% - 48px);
		}
		&:hover {
			.videolib-item__image {
				@apply opacity-20;
				transform: scale(1.1, 1.1);
			}
			.videolib-item__play {
				/* @apply opacity-10; */
			}
		}
	}
}

.careers {
	&-opening-content {
		@apply my-50 md:my-90;

		> div {
			@apply grid gap-x-20 sm:grid-cols-2;
			@screen lg {
				grid-template-columns: 1% 40% 40% 1%;
			}
		}

		.acf-wysiwyg {
			p {
				@apply md:text-24 font-primary leading-[166%] text-spacegray;
			}
			h3 {
				@apply text-24 md:text-28 font-primary text-primary font-700 md:mb-25;
			}
		}
		&__top-content {
			@apply col-span-full mb-20 md:mb-45;
		}
		&__top-left-content {
			@apply lg:col-start-2;
		}
		&__top-left-content.acf-wysiwyg,
		&__top-right-content.acf-wysiwyg {
			@apply max-md:mb-20;
			p {
				@apply md:text-18;
			}
		}
	}
}

.careers-carousel__ticker {
	width: 100%;
	overflow: hidden;
}

.careers-carousel__wrapper {
	white-space: nowrap;
	overflow: hidden;
}

.careers-carousel__item {
	display: inline-block;
	/* Set appropriate width, height, and styling for your carousel items */
}

.careers-carousel {
	@apply overflow-hidden relative max-w-screen-3xl mx-auto;
	@screen 3xl {
		&::before,
		&::after {
			background: linear-gradient(
				to right,
				white 0%,
				rgba(255, 255, 255, 0) 100%
			);
			content: "";
			height: 410px;
			position: absolute;
			width: 200px;
			z-index: 2;
		}
		&::after {
			right: 0;
			top: 0;
			transform: rotateZ(180deg);
		}
		&::before {
			left: 0;
			top: 0;
		}
	}
	&__ticker {
		@apply flex;
	}
	&__item {
		@apply self-start flex-none;
	}
	&__image {
		@apply h-[410px]   object-cover;
	}
}
.careers-ci {
	@apply pt-40 pb-50 md:pb-100 bg-brightgray;
	h3 {
		@apply text-center text-primary text-24 font-700 font-primary mb-16;
	}
	p {
		@apply text-spacegray max-w-[1024px] mx-auto;
	}
}
.careers-cta {
	.cta-block__content {
		p {
			@apply max-w-[450px];
		}
	}
}

.careers-tst {
	@apply my-50 md:my-90;
	&__grid {
	}
	&__item {
		@apply pl-30 md:px-80;
	}
	&__item-top {
		@apply flex  gap-4 overflow-auto;
	}
	&__item-top-right {
		@apply flex  justify-center  flex-col;
	}
	&__name {
		@apply text-secondary text-24 font-700 font-primary;
	}
	&__title {
		@apply leading-[150%];
	}

	&__image {
		@apply h-[120px] w-[120px] rounded-full;
	}
	&__headline {
		@apply headline-main text-primary mb-60 max-md:hidden;
	}
	&__quote {
		@apply text-spacegray mt-25 text-15 md:text-18;
	}

	.slick-prev:before,
	.slick-next:before {
		@apply w-[100px] h-[100px] text-black opacity-40 text-32;
	}
	.slick-arrow {
		@apply max-sm:translate-x-2;
	}
	.slick-next {
		@apply max-md:hidden max-md:opacity-0 max-md:pointer-events-none;
	}
	.slick-current {
		@apply relative;
		/* @apply border-r border-bordergray; */
		&:after {
			@apply lg:bg-bordergray lg:absolute w-[1px] h-full top-0 right-0;

			content: "";
		}
	}
}

.careers-trumarkstory.entry-content {
	.cta-block__headline {
		@apply text-40 mb-25;
	}
	.cta-block__headline,
	.cta-block__content {
		@apply max-w-[765px] ml-auto;
	}

	.cta-block__content {
		@apply max-md:mb-0;
		p {
			@apply leading-[155%] md:text-18 mb-0;
		}
	}
}

.error-404 {
	@apply my-50 md:my-90;
	h3 {
		@apply font-primary text-primary text-24 md:text-40 font-700 text-center mb-25;
	}
	&__grid {
		@apply flex flex-wrap;
	}
	&__col-one,
	&__col-two {
		@apply w-full md:w-1/2 max-md:mb-20;
	}
	&__col-one {
		@apply md:border-r border-bordergray md:pr-80 xxl:pr-[140px];
	}
	&__content.acf-wysiwyg {
		p,
		ol,
		ul,
		li {
			@apply text-15 md:text-18 text-spacegray;
		}
	}
	&__col-two {
		@apply md:pl-80 xxl:pl-[140px];
		form {
			@apply relative;
			label {
				@apply text-15 md:text-18 text-spacegray mb-20 block;
			}
			input {
				@apply border-b border-bordergray w-full h-[30px] mt-20;
			}
			button {
				@apply absolute right-0 bottom-2;
			}
		}
	}
}
.searchresults {
	@apply my-50 md:my-90;
}
.searchresults-item {
	@apply flex-col sm:flex-row sm:flex flex-wrap border-bordergray border-b mb-40 pb-40 justify-between;
	h4 {
		@apply text-primary font-700 text-28 md:text-40 font-primary w-full leading-[115%] pb-20;
	}
	&__content {
		@apply w-full max-md:mb-20 text-15 md:text-18;
		@screen md {
			width: calc(100% - 300px);
		}
	}
	&__button {
		@apply block button-main w-full sm:w-[240px];
		/* @apply  bg-secondary hover:bg-primary text-white flex  text-18 justify-center items-center py-15 relative ; */

		&::after {
			@apply button-main--chev;
		}
	}
}

#leaveSite {
	@apply bg-white  relative max-w-[885px] mx-auto lg:px-90 px-20 py-40 lg:py-80 max-h-screen bottom-0 overflow-y-scroll sm:overflow-y-auto;

	&Cover {
		@apply sm:px-30 fixed w-screen h-screen bg-black bg-opacity-80 top-0 flex justify-center items-center z-[100];
	}
	&Close {
		@apply max-sm:hidden cursor-pointer absolute top-[22px] right-[35px] text-30 text-white bg-spacegray rounded-full bg-opacity-50 duration-300 transition-all hover:bg-primary h-[40px] w-[40px] flex justify-center items-center;
	}
	h6 {
		@apply text-24 font-700 text-primary font-primary relative mb-15 text-center;
		&::before {
			@apply bg-primary mt-20;
		}
	}
	p {
		@apply mb-10  leading-20;
	}
	#leaveText {
		@apply mb-20 text-secondary text-16 md:text-20;
	}
	#leaveText p {
		@apply mb-20 text-14 text-secondary;
	}
	#leaveLinks {
		@apply items-center  flex  flex-row justify-between gap-4 md:gap-12;
		a {
			@apply px-30 lg:px-60 py-15 transition-all duration-300 text-15 md:text-18 block w-1/2 text-center button-main;
			&#continueLink {
				@apply text-white bg-primary hover:bg-secondaryDark;
				&::after {
					@apply button-main--chev;
				}
			}
			&#cancelLink {
				@apply text-white bg-spacegray hover:bg-secondaryDark;
				i {
					@apply relative left-1 top-[1px];
				}
			}
		}
	}
}

#header-search {
	@apply overflow-x-visible relative top-0;
	&.active {
		/* @apply top-0; */
	}
	&.active input[type="search"] {
		@apply border-opacity-100 mr-10;
	}
	i.open-menu-search {
		@apply absolute  top-[8px] right-0 pr-10 transition-none;
		border-right: solid 1px rgba(127, 137, 137, 0.6);
	}
	&.active i.open-menu-search {
		@apply right-5 top-[18px] border-r-0;
	}
	input[type="search"] {
		@apply w-full h-[40px] relative border border-bordergray border-opacity-0;
		padding: 5px 10px;
	}
}
.open-menu-search.active:before {
	@apply relative top-[-8px];
	content: "\f00d" !important;
	display: block;
}

#mobile-search-form {
	@apply relative;
	input[type="search"] {
		@apply px-10 py-5 w-full h-[50px] relative border border-bordergray;
	}
	button {
		@apply text-secondary text-24 absolute right-1 top-[5px];
	}
}

.qntm-alerts {
	.alertcontainer {
		@apply flex items-center justify-center h-full;
	}
	.alert-type {
		&-top,
		&-bottom {
			@apply fixed w-full;
			z-index: 99;
			.alertcontainer {
				@apply relative min-h-[182px];
			}
		}
		&-top {
			@apply top-0;
		}
		&-bottom {
			@apply bottom-0;
		}
	}
	.alert-color {
		&-gray:not(.alert-type-modal) {
			@apply bg-spacegray text-white;
		}
	}
	.alertText {
		p {
			@apply text-20;
		}
	}
	.alertbox-close {
		@apply ml-20 w-[40px] h-[40px] bg-white rounded-full text-spacegray flex justify-center items-center text-20 cursor-pointer;
	}
	.fa-bell {
		@apply mr-20 text-40;
	}
}

.alert-group {
	@apply fixed min-h-[185px] w-full;
	@apply grid;
	z-index: 99;
	p a {
		@apply underline hover:text-primary transition-all duration-300;
	}
	&--top {
		@apply top-0;
	}
	&--bottom {
		@apply bottom-0;
	}
	&--modal {
		@apply w-full h-full top-0 left-0 right-0 bottom-0 flex justify-center items-center;
		background: rgba(127, 137, 137, 0.92);
		.alert-item {
			@apply h-[324px] w-[900px];
			&__text {
				@apply static;
			}
			&__close {
				@apply top-[32px] right-[32px];
			}
			&--gray {
				@apply bg-white;
				p {
					@apply text-secondary;
				}
				i.fa-bell {
					@apply text-primary;
				}
				.alert-item__close {
					@apply bg-bordergray text-white hover:bg-primary;
				}
			}
			.fa-bell {
				@apply block mx-auto static w-full text-center mb-20;
			}
		}
	}
}

.alert-item {
	@apply h-full text-white text-20 relative;
	&--red {
		@apply bg-primary;
		.alert-item__close {
			@apply text-primary hover:bg-secondary;
		}
	}
	&--blue {
		@apply bg-secondary;
	}
	&--gray {
		@apply bg-spacegray;
	}
	&__text {
		@apply relative py-20 w-full px-60;
	}

	&__close {
		@apply w-[40px] h-[40px] bg-white rounded-full text-spacegray flex justify-center items-center text-20 cursor-pointer absolute right-0 transition-all duration-300 hover:bg-primary;
		top: calc(50% - 20px);
	}
	&__container {
		@apply flex   items-center relative;
		&:not(:last-child)::after {
		}
	}
	&:not(:last-child) .alert-item__container::after {
		@apply bg-bordergray bg-opacity-75 w-full h-[1px] absolute bottom-0;
		content: "";
	}
	.fa-bell {
		@apply text-50   absolute left-0;
		top: calc(50% - 25px);
	}
}
