body {
	@apply font-sr text-darkestgray;
}

/* **************************    EXTRA CONTAINERS    ************************** */
.container-lg {
	@apply container lg:max-w-screen-lg;
}
.container-xl {
	@apply container xl:max-w-screen-xl;
}

.container-xxl {
	@apply container xxl:max-w-screen-xxl;
}

.container-2k {
	@apply max-w-[2000px];
}

/* **************************    DEFAULT TAILPRESS    ************************** */

article > *:not(.entry-content),
.entry-content > * {
	/* @apply mx-auto max-w-content; */
}

.entry-content,
.block-editor-block-list__layout {
	h1 {
		@apply text-2xl;
	}

	h2 {
		@apply text-xl;
	}

	h3 {
		@apply text-lg;
	}

	p,
	ul,
	ol {
		a {
			@apply text-blue-500 underline;

			&:hover {
				@apply no-underline;
			}
		}

		@apply mb-8;
	}

	/* ul:not(.block-editor-block-variation-picker__variations) {
		li {
			@apply list-disc list-inside;
		}
	} */

	ol {
		li {
			@apply list-decimal list-inside;
		}
	}
}

/* **************************    GLOBAL AREAS    ************************** */
.mobileHeader {
	@apply lg:hidden;
	/* @apply  md:pb-20; */
	&__menu {
		@apply bg-brightgray duration-300 transition-all max-h-[1000px];
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

		&:not(.active) {
			@apply opacity-0 max-h-0;
			clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
		}
		&__allCategories {
			@apply duration-500 transition-all relative   hover:text-primary text-18 z-10 left-[-15px] mb-10 block;
			&:not(.active) {
				@apply opacity-0;
			}
			&::before {
				@apply text-12 pl-10 left-1 relative mr-10;
				content: " ";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M3.05903 5.93015L7.61396 1.37523C7.83364 1.15555 8.1898 1.15555 8.40946 1.37523L8.94071 1.90649C9.16002 2.1258 9.16044 2.48123 8.94165 2.70105L5.33178 6.3279L8.94165 9.95474C9.16044 10.1746 9.16002 10.53 8.94071 10.7493L8.40946 11.2806C8.18978 11.5002 7.83362 11.5002 7.61396 11.2806L3.05905 6.72564C2.83937 6.50598 2.83937 6.14983 3.05903 5.93015Z' fill='%23485050'/%3E%3C/svg%3E");
				background-repeat: no-repeat no-repeat;
				background-position: center center;
				background-size: cover;
			}
		}
	}
	> div > div {
		@apply overflow-x-clip;
	}
	.cta {
		@apply hidden;
	}

	&__container {
		@apply grid;
		grid-template-columns: auto 88px;

		.custom-logo-link img {
			@apply pl-20 py-10 pr-20 block max-w-[280px];
		}
	}
	&__utility__menu {
		> ul {
			@apply flex justify-center gap-4 my-0 py-25 text-14;
			border-bottom: 1px solid #c7c6c6;
			> li {
				@apply w-[80px];
			}
		}
	}
	&__primary {
		@apply grid grid-cols-2  relative transition-all duration-500 text-14 bg-[#C7C6C6] mx-[-20px];

		/* &::before {
			@apply bg-[#C7C6C6] absolute;
			content: " ";
			width: 500%;
			height: 100%;
			z-index: 0;
		} */
		&.move .mobileHeader__primary__colFour {
			@apply opacity-100;
		}
		> ul > li > ul {
			@apply hidden;
		}
		a {
			@apply w-full block relative;
		}
		li.active,
		li:hover {
			@apply text-primary;
			a::after {
				filter: brightness(0) saturate(100%) invert(7%) sepia(80%)
					saturate(4172%) hue-rotate(324deg) brightness(132%) contrast(138%);
			}
		}
		li.menu-item-has-children a {
			&::after {
				@apply text-12 pl-10 right-[5px] absolute top-[5px] w-[8px] h-[15px];
				content: " ";
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11' fill='none'%3E%3Cpath d='M6.94097 5.7261L2.38604 10.281C2.16636 10.5007 1.8102 10.5007 1.59054 10.281L1.05929 9.74976C0.839981 9.53045 0.839559 9.17502 1.05835 8.9552L4.66822 5.32835L1.05835 1.70151C0.839559 1.48169 0.839981 1.12626 1.05929 0.906955L1.59054 0.375697C1.81022 0.156018 2.16638 0.156018 2.38604 0.375697L6.94095 4.93061C7.16063 5.15027 7.16063 5.50642 6.94097 5.7261Z' fill='%23252525'/%3E%3C/svg%3E");
				background-repeat: no-repeat no-repeat;
				background-position: center center;
				background-size: cover;
			}
		}
		&__colOne {
			@apply text-18 flex flex-col gap-8 mr-[1px];
		}
		&__colTwo {
		}
		> ul {
			@apply h-full bg-brightgray transition-all duration-500 px-20;
			/* &:before {
				@apply h-full w-[1px] left-[-21px] bg-[#C7C6C6] absolute;
				content: " ";
			} */
		}
		> ul:not(.mobileHeader__primary__colOne) {
			@apply flex flex-col gap-4 text-14 h-full;
		}
		&__colThree {
			@apply absolute  w-1/2 top-0 transition-all duration-500;
			left: calc(100% + 0px);
			a {
				@apply opacity-0 duration-500 transition-all;
			}
		}
		&__colFour {
			@apply absolute  w-1/2 top-0   transition-all duration-500;
			left: calc(150% + 1px);
			a {
				@apply opacity-0 duration-500 transition-all;
			}
		}
		&.move > ul {
			transform: translateX(-100%);
		}
		&.move2 > ul {
			transform: translateX(-200%);
		}
		&.move,
		&.move2 {
			.mobileHeader__primary__colThree a {
				@apply opacity-100;
			}
		}
		&.move2 {
			.mobileHeader__primary__colFour a {
				@apply opacity-100;
			}
		}
	}

	.mobileHeader__cta {
		@apply py-80;
		> a {
			@apply text-primary text-18 block font-700 mb-5;
		}
		> .menu-item-description {
			@apply text-14 block mb-20;
			line-height: 132%;
		}
		> ul {
			a {
				@apply bg-primary text-18 text-white block py-15 text-center;
				&::after {
					@apply font-fontawesome text-12 pl-20 pt-[3px] left-1 relative;
					content: " ";
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.9213 8.53129L5.84805 14.6045C5.55514 14.8974 5.08027 14.8974 4.78739 14.6045L4.07905 13.8962C3.78664 13.6038 3.78608 13.1299 4.0778 12.8368L8.89095 8.00095L4.0778 3.16516C3.78608 2.87207 3.78664 2.39816 4.07905 2.10576L4.78739 1.39741C5.0803 1.10451 5.55517 1.10451 5.84805 1.39741L11.9213 7.47063C12.2142 7.76351 12.2142 8.23838 11.9213 8.53129Z' fill='%23F5F5F8'/%3E%3C/svg%3E");
				}
			}
		}
	}

	/* Hamgburger Menu  */

	.toggleMenu {
		@apply lg:hidden flex justify-center items-center text-center relative  h-full px-30;
		z-index: 1;
		/* left: 10px; */
		width: 33px;
		height: 28px;
		margin-top: 5px;
		flex-direction: column;
		justify-content: space-around;
		padding: 0;
		cursor: pointer;
		transition: 0.3s all;
		.line {
			@apply bg-white;
			transition: 0.3s all;
		}
		&__wrapper {
			@apply bg-primary flex items-center justify-center w-[88px] h-[88px] cursor-pointer;

			&.toggle {
				@apply bg-secondary;
				> div {
					transform: translateX(9px) scale(0.8);
				}
			}
		}
	}
	.line {
		width: 100%;
		height: 3px;

		opacity: 1;

		transition: all 0.2s ease-out;
	}
	.line2 {
	}

	.toggle .line1,
	.toggle .line3 {
		@apply rounded-sm;
		height: 7px;
	}
	.toggle .line1 {
		/*   transform: scale(1.6) rotateZ(-45deg) translate(-13px, 0px);*/
		transform: rotateZ(-45deg) translate(-16px, 0px);
	}

	.toggle .line2 {
		opacity: 0;
	}

	.toggle .line3 {
		/* transform: scale(1.6) rotateZ(45deg) translate(-10px, 3px); */
		transform: rotateZ(45deg) translate(-12px, 4px);
	}
}

.header {
	@apply relative pb-20 hidden lg:block;
	&__logo {
		@apply pl-20 xl:pl-50 pt-30 flex items-end justify-end  w-[350px] xl:w-[405px] mr-20 mb-10;
	}

	&__menus {
		@apply xl:w-[823px];
		&__top {
			@apply flex justify-between items-end pb-15;
			.fa-magnifying-glass {
				@apply relative text-secondary text-22 cursor-pointer max-xl:left-[-20px] hover:text-primary duration-300 transition-all;
			}
			&__acct {
				@apply bg-secondary text-white  max-xl:ml-20 h-[52px] w-[270px] flex items-center justify-center text-14 transition-all duration-300 hover:bg-secondaryDark;

				i {
					@apply mr-[10px] opacity-20;
				}
			}
		}
	}
	&__utility__menu {
		@apply text-secondary text-14 flex items-end;
		li {
			@apply px-10 xl:px-[20px];
			border-left: solid 1px rgba(127, 137, 137, 0.6);
			a {
				@apply ul-anim-secondary hover:ul-anim-hover;
				background-size: 100% 1px, 0% 1px;
				&:hover {
					background-size: 0 1px, 100% 1px;
				}
			}
		}
	}
	&__primary {
		@apply text-primary text-22 mr-20 xl:mr-[50px] font-sr    lg:mt-0 lg:p-0 lg:bg-transparent;
		> ul {
			@apply mt-[20px] justify-between;
		}
		> ul > li > a {
			@apply transition-all duration-300 relative;
			&:after {
				@apply bg-primary transition-all duration-300 h-[4px] bg-opacity-0  absolute bottom-[-23px] left-[-10px];
				content: " ";
				width: calc(100% + 20px);
			}
			&.active:after,
			&:hover:after {
				@apply bg-opacity-100;
			}
		}
		&__submenu {
			/************ LEVEL 2 BG **************/
			@apply absolute left-0 top-[140px] w-full bg-brightgray text-14 py-40 transition-all duration-300;
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
			z-index: 1;
			&:not(.active) {
				@apply opacity-0 pointer-events-none absolute;
				clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
			}
			a {
				@apply text-secondary;
			}

			ul.col-1,
			ul.col-2,
			ul.col-3 {
				@apply text-18;
				li {
					@apply relative transition-colors duration-300 pb-10;
					&:hover,
					&.active {
						a {
							@apply text-primary;
						}
						a::after {
							filter: brightness(0) saturate(100%) invert(7%) sepia(80%)
								saturate(4172%) hue-rotate(324deg) brightness(132%)
								contrast(138%);
						}
					}
					a {
						&::after {
							@apply font-fontawesome text-12 pl-10 left-1 relative;
							content: " ";
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M8.94097 6.39798L4.38604 10.9529C4.16636 11.1726 3.8102 11.1726 3.59054 10.9529L3.05929 10.4216C2.83998 10.2023 2.83956 9.8469 3.05835 9.62708L6.66822 6.00022L3.05835 2.37338C2.83956 2.15356 2.83998 1.79813 3.05929 1.57883L3.59054 1.04757C3.81022 0.827893 4.16638 0.827893 4.38604 1.04757L8.94095 5.60249C9.16063 5.82214 9.16063 6.1783 8.94097 6.39798Z' fill='%2315636E'/%3E%3C/svg%3E");
						}
					}
				}
			}
			ul.col-1 {
			}
			ul.col-2,
			ul.col-3 {
				@apply pl-25 text-14   flex flex-col flex-wrap;
				border-left: 1px solid #c7c6c6;
				/* columns: 2; 
				column-gap: 20px;  */

				li {
				}
			}
			.menuCallToAction {
				@apply pl-50;
				grid-column: 4;
				border-left: 1px solid #c7c6c6;
				> a {
					@apply text-primary text-18 font-700 block mb-20;
				}
				.menu-item-description {
					@apply text-darkgray text-14 block mb-20;
				}
				> ul {
					a {
						@apply bg-primary text-18 text-white block py-20 text-center transition-all duration-300 hover:bg-[#6e1616];

						&::after {
							@apply font-fontawesome text-12 pl-20 pt-[3px] left-1 relative;
							content: " ";
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.9213 8.53129L5.84805 14.6045C5.55514 14.8974 5.08027 14.8974 4.78739 14.6045L4.07905 13.8962C3.78664 13.6038 3.78608 13.1299 4.0778 12.8368L8.89095 8.00095L4.0778 3.16516C3.78608 2.87207 3.78664 2.39816 4.07905 2.10576L4.78739 1.39741C5.0803 1.10451 5.55517 1.10451 5.84805 1.39741L11.9213 7.47063C12.2142 7.76351 12.2142 8.23838 11.9213 8.53129Z' fill='%23F5F5F8'/%3E%3C/svg%3E");
						}
					}
				}
			}
			> div {
				@apply grid;
				grid-template-columns: 20% 20% 34% auto;
				height: inherit;
				> ul {
					/************ LEVEL 3 ************** COLUMN */
					/* @apply w-[25%] relative; */
				}
				> ul > li > ul:not(.active) {
					@apply opacity-0 pointer-events-none;
				}
				> ul > li > ul {
					/************ LEVEL 3 **************/
					@apply absolute bg-secondary right-0;
				}
			}
		}
	}
}

.mobile-search-bar {
	&__container {
		@apply container flex items-center justify-center   h-[52px] text-14;
	}
	&__search,
	&__acct {
		@apply w-1/2 relative text-center;
		i {
			@apply mr-15 opacity-40 text-20 relative;
		}
	}
	&__search {
		i {
			@apply top-[2px];
		}
		&:after {
			@apply bg-white absolute bg-opacity-40;
			right: 0;
			height: 25px;
			width: 1px;
			content: " ";
		}
	}
	&__acct {
	}
}

/* **************************    FOOTER    ************************** */

.site-footer-cta {
	@apply bg-primary  text-white py-40;
	> div {
		@apply lg:flex lg:justify-around lg:flex-row flex-col;
	}
	&__headline {
		@apply text-32 max-sm:text-center;
		font-size: clamp(22px, 4vw, 32px);
	}
	&__button {
		@apply bg-secondary py-[12px] pr-75 pl-45 text-18 relative  max-lg:mt-20 lg:ml-20 hover:bg-secondaryDark duration-300 transition-all inline-block;
		@apply max-sm:w-full max-sm:text-center;

		&::after {
			@apply text-12 pl-10   absolute top-[40%] right-[50px] w-[12px] h-[15px] transition-all duration-300;
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M11.9211 8.53129L5.84786 14.6045C5.55496 14.8974 5.08008 14.8974 4.78721 14.6045L4.07886 13.8962C3.78646 13.6038 3.7859 13.1299 4.07761 12.8368L8.89077 8.00095L4.07761 3.16516C3.7859 2.87207 3.78646 2.39816 4.07886 2.10576L4.78721 1.39741C5.08011 1.10451 5.55499 1.10451 5.84786 1.39741L11.9211 7.47063C12.214 7.76351 12.214 8.23838 11.9211 8.53129Z' fill='%23F5F5F8'/%3E%3C/svg%3E");
		}
		&:hover::after {
			@apply translate-x-1;
		}
	}
}

.site-footer {
	@apply bg-midgray text-white py-50;
	&__grid {
		@apply grid gap-4 lg:gap-[3%] grid-cols-6;

		@screen lg {
			grid-template-columns: 21% 17% auto 17%;
		}
	}
	&__col {
		@apply max-sm:col-span-full sm:max-lg:col-span-3;
		&--one,
		&--two {
		}
		&--three {
		}
	}
	&__phone,
	&__routing,
	&__address,
	&__powered-by {
		@apply max-sm:text-center;
	}
	&__phone {
		@apply text-24 font-700 mb-20;
	}
	&__routing {
		@apply mb-20;
		span {
			@apply text-[#AEB6B6];
		}
	}
	&__address {
		@apply text-[#AEB6B6];
	}
	&__disclaimer-text {
		@apply text-14;
		color: #99a3a3;
	}
	&__bottom {
		@apply col-span-full py-30 max-sm:flex-wrap flex justify-between text-14 mt-30;
		border-top: 1px solid #7f8989;
		color: #99a3a3;
	}
	&__powered-by {
		@apply max-lg:w-1/2 max-sm:mt-20 max-sm:text-center max-sm:w-full;
	}
	&__social {
		@apply text-30 lg:text-40 flex max-sm:justify-between gap-5 md:gap-9 mb-30;

		a {
			@apply hover:text-brightgray hover:opacity-75 duration-300 transition-all hover:translate-y-[1px];
			/* &:hover {
				@apply transform: translate(0.2, 0.2);
			} */
		}
	}
	&__return {
		@apply block mb-50 relative py-5 pl-10 xl:pl-30 text-[#7f8989] text-18;
		border: 1px solid #7f8989;
		@apply hover:text-brightgray hover:opacity-75 duration-300 transition-all;

		&::after {
			@apply text-12 pl-10   absolute top-[33%] right-[15px] w-[18px] h-[15px] transition-all duration-300;
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' viewBox='0 0 24 14' fill='none'%3E%3Cpath d='M13.0607 0.93934C12.4749 0.353553 11.5251 0.353553 10.9393 0.93934L1.3934 10.4853C0.807611 11.0711 0.807611 12.0208 1.3934 12.6066C1.97919 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.93934ZM13.5 3V2H10.5V3H13.5Z' fill='%23AEB6B6'/%3E%3C/svg%3E");
			background-repeat: no-repeat no-repeat;
			background-position: center center;
			background-size: cover;
		}
	}
	&__footer-logos {
		@apply flex gap-4 max-sm:justify-center max-sm:gap-12;
	}
	&__footer-logo-image {
		img {
			@apply max-h-[55px] w-auto;
		}
	}
	#menu-footer-main-menu {
		@apply sm:flex flex-col gap-3 text-18 max-sm:border-t max-sm:border-b border-[#7f8989] py-10  max-sm:text-center;
		li {
			@apply max-sm:inline-block max-sm:mr-10 max-sm:mb-10 max-sm:text-14;
		}
		a {
			@apply ul-anim-white hover:ul-anim-hover;
		}
	}
}

.mainstage {
	/* @apply mb-[80px]; */
	/* &--no-dots {
		@apply mb-50;
	} */
}
.mainstage-slide {
	&__left {
		@apply flex  justify-center md:justify-end;
	}
	&__left-inner {
		@apply max-h-[500px] max-w-[686px] px-30 md:px-[100px] pt-40 pb-50  md:py-[60px] flex flex-col justify-center items-start;
	}
	&__right {
		@apply relative;
		img {
			@apply max-md:aspect-square md:h-[500px] w-full object-cover;
		}
	}
	&__wrapper {
		@apply flex bg-primary text-white bg-no-repeat;
		@apply flex-col-reverse md:flex-row;
		background-image: url("../images/waves-red.png");
		background-position: 40% 100%;

		> div {
			@apply md:w-1/2;
		}
	}
	&__headline {
		@apply text-44 font-700 mb-15 font-primary;
		line-height: 113.636%;
		font-size: clamp(28px, 4vw, 44px);
	}
	&__content {
		@apply text-18 mb-35;
		line-height: 155.556%;
		font-size: clamp(15px, 3vw, 18px);
	}
	&__link {
		@apply inline-block bg-white text-primary px-20 min-w-full md:min-w-[270px] py-15 text-center text-18;
	}
	&__play {
		@apply absolute transition-all duration-300;
		top: calc(50% - 65px);
		left: calc(50% - 65px);
		&:hover {
			@apply opacity-50;
		}
	}
}

.mainstage .slick-dots {
	@apply bottom-[-35px] md:bottom-[-40px];
	li {
		@apply mx-5 md:mx-15 transition-all duration-300;
		&:hover {
		}
		&:not(.slick-active):hover {
			@apply opacity-40;
		}
	}
	li button:before {
		@apply text-20 bg-white border-primary border-2 border-opacity-100 rounded-full;
		@apply w-[15px] h-[15px] md:w-[25px] md:h-[25px] opacity-100;
		content: " ";
		&:hover {
		}
	}
	li.slick-active button:before {
		@apply bg-primary;
		&:hover {
			@apply opacity-100;
		}
	}
}

.modal {
	@apply max-w-[90vw]   bg-white top-[30px];
}
